<?php
 include_once("seotiengviet.php");
?>
<script src="/js/jquery.price_format.min.js" type="text/javascript"></script>
<script src="/js/jquery.validate.js" type="text/javascript"></script>
<script type="text/javascript" src="<?php echo site_url()?>js/ajaxupload.3.5.js" ></script>
<link rel="stylesheet" type="text/css" href="<?php echo site_url()?>styles.css" />
<script type="text/javascript" >
	$(function(){
		var btnUpload=$('#upload');
		var status=$('#status');
		new AjaxUpload(btnUpload, {
			action: '<?php echo site_url()?>upload-file.php',
			name: 'uploadfile',
			onSubmit: function(file, ext){
				 if (! (ext && /^(jpg|png|jpeg|gif)$/.test(ext))){ 
                    // extension is not allowed 
					status.text('Only JPG, PNG or GIF files are allowed');
					return false;
				}
				status.text('Uploading...');
			},
			onComplete: function(file, response){
				//On completion clear the status
				status.text('');
				//Add uploaded file to list
				if(response==="success"){
					$('<li></li>').appendTo('#files').html('<img src="<?php echo site_url()?>uploads/'+file+'" alt="" /><br />'+file).addClass('success');
					var current = $('#uploadfile').val();
					if (current!='')
						current = current + ';'+ file;
					else
						current = file;
					$('#uploadfile').val(current);
				} else{
					$('<li></li>').appendTo('#files').text(file).addClass('error');
				}
			}
		});
		
	});
</script>
<script type="text/javascript">
  $(document).ready(function(){
	  $('#sale_price,#price').priceFormat({
		    prefix: '',
		    centsSeparator: '',
		    centsLimit: 0,
		    thousandsSeparator: '.'
	  }); 
  });
</script>
<script type="text/javascript">
  $(document).ready(function(){
    $("#frm").validate({
		rules: {
			pro_name: {
				required: true,
				minlength: 10
			},
			sale_price: {
				required: true,
				minlength: 1
			}
		},
		messages: {
			pro_name: {
				required: "Hãy nhập vào tên sản phẩm",
				minlength: jQuery.format("Tên sản phẩm ít nhất {0} ký tự")				
			},
			sale_price: {
				required: "Hãy nhập vào giá sản phẩm, nhập số 0 nếu chưa có giá",
				minlength: jQuery.format("Giá sản phẩm ít nhất {0} chữ  số, nhập số 0 nếu chưa có giá")
			}
		}	
    });
  });
</script>
<style>
#frm label.error {
    background: url("/images/unchecked.gif") no-repeat scroll 0 0 transparent;
    color: #EA5200;
    font-weight: bold;
    margin-left: 5px;
    padding-bottom: 0;
    padding-left: 16px;
}
#frm label.checked {
    background: url("/images/checked.gif") no-repeat scroll 0 0 transparent;
    margin-left: 5px;
}
#frm .label {
    padding-right: 8px;
    padding-top: 2px;
    text-align: right;
    vertical-align: top;
    white-space: nowrap;
    width: 125px;
}
</style>
<!-- OF COURSE YOU NEED TO ADAPT NEXT LINE TO YOUR tiny_mce.js PATH -->
<script type="text/javascript" src="<?php echo site_url()?>tinymce/jscripts/tiny_mce/tiny_mce.js"></script>

<script type="text/javascript" src="<?php echo site_url()?>tinymce/jscripts/tiny_mce/tinyMce.conf.js"></script>

<div class="content">

<form onsubmit="return check(this.form);" action="<?php echo site_url('sanpham/do_edit_product')?>" method="post" enctype="multipart/form-data" name="frm" id="frm">
<table width="950" border="0" cellpadding="5px;">
  <tr>
    <td class="form_name">Danh mục sản phẩm: </td>
    <td><div class="duongdan">
  	<label><strong>
  			<?php if (count($breadcrumb)>0) { ?>
			<a href="<?php echo site_url('catalog').'/'.$breadcrumb[0]->r_id_.'-'.khongdau($breadcrumb[0]->r_name_);?>"> 
			<?php echo $breadcrumb[0]->r_name_;?>
			</a> >
			<a href="<?php echo site_url('catalog').'/'.$breadcrumb[0]->p_id_.'-'.khongdau($breadcrumb[0]->p_name_);?>"> 
			<?php echo $breadcrumb[0]->p_name_;?>
			</a> >
			<a href="<?php echo site_url('catalog').'/'.$breadcrumb[0]->c_id_.'-'.khongdau($breadcrumb[0]->c_name_);?>"> 
			<?php echo $breadcrumb[0]->c_name_;?>
			</a>
			<?php } ?>			
		</strong>
    </label>
    </div>	
    </td>
  </tr>	
  <tr>
    <td width="139" class="form_name label"><label id="lpro_name" for="pro_name">Tên sản phẩm:</label></td>
    <td width="361" class="field"><input type="text" id="pro_name" name="pro_name" size="80" value="<?php echo $product->name_;?>" class="form_control required"/></td>
  </tr>
  <tr>
    <td class="form_name">Giá chưa VAT: </td>
    <td><input type="text" id="price" name="price" size="30" class="form_control"/></td>
  </tr>
  <tr>
    <td class="form_name label"><label id="lsale_price" for="sale_price">Giá bán:</label></td>
    <td class="field"><input type="text" id="sale_price" name="sale_price" size="30" value="<?php echo $product->price_;?>" class="form_control required"/></td>
  </tr>
  <tr>
    <td class="form_name">Mã sản phẩm: </td>
    <td><input type="text" name="pro_code" size="30" class="form_control"/></td>
  </tr>
  <tr>
  <td class="form_name">
  Ảnh chính của sản phẩm: 
  </td>
  <td>
  <input type="file" name="upload" />
  </td>
  </tr>
  <tr>
  <td class="form_name">
  Link Ảnh sản phẩm:
  </td>
  <td>
  <input type="text" name="image_default" size="80" value="<?php echo $product->image_default_;?>" class="form_control"/>
  </td>
  </tr>
  <tr>
    <td colspan=2>
        <input type="hidden" name="uploadfile" id="uploadfile" value="">
  		<!-- Upload Button, use any id you wish-->
		<div id="upload" ><span>Chọn thêm ảnh<span></div><span id="status" ></span>		
		<ul id="files" ></ul>        
    </td>
  </tr>  
  <tr>
    <td class="form_name">Mô tả sản phẩm</td>
    <td><textarea name="pro_desc" cols="30" class="required"><?php echo $product->description_;?></textarea></td>
  </tr>
  <tr>
    <td class="form_name">Thông số kỹ thuật </td>
    <td><textarea name="technical_desc" cols="30"><?php echo $product->technical_description_;?></textarea></td>
  </tr>
 <tr>
  <td>
  </td>
  <td>
  <select name="store_cat_id">
  <option value="0">- Chọn danh mục sản phẩm -</option>
  <?php foreach ($category as $item): ?>
  <option value="<?php echo $item->getId();?>" <?php if ($product->store_cat_id==$item->getId()) { echo ' selected '; }?>><?php echo $item->getName();?></option>
  	<?php foreach ($subcat[$item->getId()] as $item): ?>
  		<option value="<?php echo $item->getId();?>" <?php if ($product->store_cat_id==$item->getId()) { echo ' selected '; } ?>>- <?php echo $item->getName();?></option>
  	<?php endforeach;?>
  <?php endforeach;?>
  </select>  
  </td>
  </tr>  
  <tr>
  <td>
  </td>
  <td>
  <p>
  <input type="hidden" name="image_thumbnail_" id="image_thumbnail_" value="<?php echo $product->image_thumbnail_;?>">
  <input type="hidden" name="p_id" id="p_id" value="<?php echo $p_id;?>">
  <input type="hidden" name="cat_id" id="cat_id" value="<?php echo $cat_id;?>">
  <input type="hidden" name="user_id" id="user_id" value="<?php echo $product->user_id_;?>">
    <label>
    <input type="submit" name="Submit" value="Cập nhật sản phẩm" class="button"/ >
    </label>
  </p>  
  </td>
  </tr>
</table>
</form>
</div>
</body>
</html>

<script type="text/javascript">
function check(frm) { 
	/*
	var f = document.getElementById('form1');
	var pro_desc = tinyMCE.get('pro_desc').getContent();
    document.getElementById('pro_desc').value=pro_desc;
  	*/
	if (frm.pro_name.value=="") {
		alert("Bạn chưa nhập tên sản phẩm!");
		frm.pro_name.focus();
		return false;
	}
	if (frm.sale_price.value=="") {
		alert("Bạn chưa nhập giá sản phẩm!");
		frm.sale_price.focus();
		return false;
	}
	/*
	if (document.getElementById('pro_desc').value=="") {
		alert("Bạn chưa nhập mô tả sản phẩm!");
		f.pro_desc.focus();
		return false;
	}*/
	return true;
}
</script>
