<div id="forgetpass" class="divLayout" style="width:880px;margin:50px;">
	<div class="Content">
                        <div align="center" class="msg_alert" style="width:100%; border:solid 1px #CCFF66; padding:10px">
						<center style="margin:10px;"><b><font color="green">THÔNG BÁO</font></b></center>						
						<div align="left" style="margin-bottom:10px;padding:5px;">
					<div style="margin-left:20px;"><div style="margin-bottom:5px"><center><?php echo $msg;?></center></div></div>
					</div>
					
					</div><div style="height:18px">&nbsp;</div>
	</div>
</div>