<script src="/js/jquery.validate.js" type="text/javascript"></script>

<script language=javascript>
$(document).ready(function(){
	var validator = $("#frm").validate();		
});


function check(frm) {
	if (frm.login.value=="") {
		alert("Bạn chưa nhập tên truy cập!");
		frm.login.focus();
		return false;
	}
	if (frm.pass.value=="") {
		alert("Bạn chưa nhập mật khẩu!");
		frm.pass.focus();
		return false;
	}

	return true;
}
</script>
<form id="frm" name="frm" method="post" action="<?php echo site_url('login');?>/authenticate">
<div class="cloginfrm">
  <table width="400" border="0">
   <tr>
   <td colspan="2">
   <div id="msg" style="margin-left:80px;color:red;"></div>
   </td>
   </tr>
    <tr>
      <td colspan="2" align="center">
      Những ô có dấu sao (<font color="red">*</font>) là bắt buộc phải nhập.      
      </td>
    </tr>
    <tr>
      <td>
      <span>Tên truy nhập:</span>
      </td>
      <td><input type="text" name="login" id="checklogin" class="required" />
		<span class="require" style="float:left;padding:5px;">*</span>	  
        </td>
    </tr>
    <tr>
      <td>

      <span>Mật khẩu:</span>
      </td>
      <td><input type="password" name="pass" id="pwd" class="required" /> 
		<span class="require" style="float:left;padding:5px;">*</span>	  
        </td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td><input type="button" name="cmd" value="Đăng nhập" id="cmd">
	  </td>
    </tr>
	<tr>
	<td colspan=2>
	<div style="margin:5px;text-align: center;">
	  Nếu bạn chưa có tài khoản, hãy <a href="<?php echo $host?>register">Đăng ký</a> ngay bây giờ.
	</div>
	<div style="margin:5px;text-align: center;">
	  Trong trường hợp bạn quên mật khẩu, hãy Click <a href="#" id="clickforgot">vào đây</a>.	  
	</div>
	</td>
	</tr>
  </table>
  
  </div>
</form>
<div class="cloginfrm forgot_pass" style="display:none">
<table id="forgot_pass">
<tr>
<td class="form_name"><font class="form_asterisk">* </font>Email của bạn:</td>
<td>
<input type="text" maxlength="250" style="width:250px; height:px" value="" name="email" id="email" title="Email của bạn" autocomplete="off" class="form_control">
</td>
</tr>
<tr>
<td></td>
<td>
<input type="submit" value="Khôi phục mật khẩu" class="form_button">
</td>
</tr>
</table>
</div>
<script language=javascript>
$(document).ready(function(){
   // goi ajax check login
   $('#cmd').click(function(){
	   $.ajax({
	
		   type : 'POST',
		   
		   url : 'login/authenticate',
		   
		   dataType : 'json',
		   
		   data: {
		   
		   login : $('#checklogin').val(),
		   
		   pass: $('#pwd').val()
		   
		   },
		   
		   success : function(data){ 
			   var msg = data.msg;
			   $('#msg').text(msg);

		   }
		   
		   });
   });
	  
   // show forgot password	
   $("#clickforgot").click(function() {
		$('.forgot_pass').show();
   });
 });
</script>
