	<link rel="stylesheet" href="./css/global.css">	
	<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
	<script src="<?php echo site_url();?>js/slides.min.jquery.js"></script>
	<script>
		$(function(){
			$('#slides').slides({
				preload: true,
				preloadImage: 'img/loading.gif',
				play: 5000,
				pause: 2500,
				hoverPause: true
			});
		});
	</script>
	<table width="100%">
	<tr><td align="center">
	<div class="slideshow">
			<div id="slides">
				<div class="slides_container">
				<?php foreach ($slider as $value) {?>
				<a href="<?php echo $value->getUrl();?>" target="_blank"><img src="<?php echo $value->getImg();?>" width="570" height="200" alt="<?php echo $value->getToolTip();?>"></a>
				<?php } ?>
				</div>
			</div>
	</div>
	</td>
	</tr>
	</table>
	