<?php
	include_once("seotiengviet.php");
?>
<link rel="stylesheet" type="text/css" href="<?php echo site_url();?>css/CSS2.css" medial="all" />
	<div class="wrapper-middle">
		<div class="box-right" style="width:1020px;">
		<div style="padding:5px;margin-left:5px;"> 
		<h3>Quản trị Sản phẩm</h3> 
		</div>
		<div>
		<form action="" method="post">
		Tên sản phẩm: <input type="text" id="search" name="keyword">
		  <select name="cate_id">
		  <option value="0" selected>= Danh mục sản phẩm =</option>
		  <?php foreach ($category as $value): ?>
		  <option value="<?php echo $value->getId();?>"><?php echo $value->getName();?></option>
		  <?php endforeach;?>
		  </select>
		<input type="submit" value=" Tìm kiếm " name="Submit">
		</form>
		</div>
		<div class="box-lietke" style="clear:both;">
			<?php foreach($product as $value):?>
				<div class="productItem" id="sp_<?php echo $value->getId();?>">
				<div class="ProductInfo" style="float:left;height:200px;width:200px;">			
					<div class="imageLocation left" style="height:100px;">
					<a href="<?php echo site_url('product/index').'/'.$value->getId();?>">
					<img style="height:100px;" class="size" src="<?php if (substr($value->getImageDefault(), 0, 4)=='http') { echo $value->getImageDefault(); } else { echo site_url().$value->getImageDefault();}?>"/>
					</a>
					</div><!--end left-->
					<div style="height:45px;clear:both;">
					<div class="center">
					  <h3>
					  <a href="<?php echo site_url('product/index').'/'.$value->getId();?>">
					  <?php echo $value->getNiceName();?>
					  </a>
					  </h3>					  	
					</div><!--end center-->
					<div class="gia" style="float:left;clear:both;text-align:center;"><?php echo $value->getNicePrice();?>&nbsp;VNĐ</div>
					<div>
					<div style="text-align:center;margin:5px;float:left;clear:both;text-align:center;">
					<a href="<?php echo site_url('sanpham/edit').'/'.$value->getId();?>">Sửa</a> | 
					<a href="#" alt='Không đăng sản phẩm này' class="remove_" id="<?php echo $value->getId();?>">Xóa</a>
					</div>	
					</div>					
					</div><!--end right-->
				</div><!--end product-info-->
				</div><!--end box-sp-->
			<?php endforeach;?>
		</div>
		<div class="clear"></div>
			<div class="box-pt">
				<div class="paging">
					<?php echo $paging;?>
				</div><!--end phantrang-->
			</div><!--end box-pt-->
		</div>
	</div>
	<div class="clear"></div>
	<script type="text/javascript">
	$(document).ready(function(){
		$(".remove_").click(function(){ 
			if (confirm('Bạn có muốn xóa sản phẩm này không?')) {
			var id = $(this).attr("id");			
			$.ajax({ 
				type : 'POST',			
				url : '/sanpham/remove',			
				dataType : 'html',
				data: {
					id : id,key: "<?php echo sha1('muaban!2');?>" 
				},
				success: function(){
					$("#sp_"+id).remove();
				}
			});
			}
		});
	});
	$(document).ready(function(){
		$(".paging a ").addClass("pagelink");
		$(".paging strong ").addClass("pagecurrent");
	});	
	</script>