   <div class="border_bt">
            	<img src="<?php echo site_url();?>skins/images/border_bt.png" />
                <p><?php echo $footer->footer_msg;?></p>
            </div><!--End class border_bt-->
            <div class="menu_bottom">
            	<div class="ontop" id="top"><a href="#"><img src="<?php echo site_url();?>skins/images/ontop.png" /></a></div>
                <div class="menu_bt">
                	<ul>
                        <li><a href="<?php echo site_url();?>"><span>trang chủ</span></a></li>
                        <li><a href="<?php echo site_url('cms/1-gioi-thieu.html');?>"><span>giới thiệu</span></a></li>
                        <li><a href="<?php echo site_url('cms/2-thuc-don.html');?>"><span>thực đơn</span></a></li>
                        <li><a href="<?php echo site_url('cms/3-dich-vu.html');?>"><span>dịch vụ</span></a></li>
                        <li><a href="<?php echo site_url('lienhe');?>"><span>liên hệ</span></a></li>
                    </ul>
                </div><!--End class menu_bt-->
            </div><!--End class menu_bottom-->
        </div><!--End class wapper_gr-->
    </div><!--End class wapper-->
    <div class="footer">
    	<div class="footer_gr"><p><?php echo $footer->footer_address;?></p></div><!--End class footer-->
    </div><!--End class footer-->
</body>
</html>
