<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Trang chủ</title>
<link href="<?php echo site_url();?>skins/style.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="<?php echo site_url();?>js/jquery.min.js"></script>
</head>

<body>
	<div class="wapper">
    	<div class="header">
        	<div class="logo"><a href="<?php echo site_url();?>"><img src="<?php echo site_url();?>skins/images/logo.png" /></a></div><!--end class logo-->
            <div class="dangky_search">
            	<div class="dangky"><a href="<?php echo site_url('login');?>">Đăng ký </a><a href="<?php echo site_url('login');?>">/ Đăng nhập</a></div>
                <div class="clearfix"></div>
                <div class="box_search">
                    <form method="get" action="">
                        <input class="input" type="text" value="--- Nhập từ khóa ---" name="">
                        <input class="btn-search" type="submit" value="" name="">
                    </form>
                 </div>
            </div><!--end class dangky_search-->
        </div><!--end class header-->
        <div class="clearfix"></div>