<?php include_once("seotiengviet.php");?>

       <div class="content">
        	<div class="left">
            	<div class="danhmuc">
                	<div class="top"></div><!--end class top-->
                    <?php $this->load->view("widget/menu.html");?>
                    <div class="bot"></div><!--end class top-->
                </div><!--end class danhmuc-->
                <div class="truycap">
                	<h2><a>Lượt khách truy cập:</a></h2>
                    <ul class="thongke">
                    	<li><a>Visit today<span>100</span></a></li>
                        <li><a>Pages<span>100.000</span></a></li>
                        <li><a>Online<span>50</span></a></li>
                    </ul>
                </div><!--end class danhmuc-->
                
                
            </div><!--end class left-->
            <div class="right">
            	<div class="tintuc_bd">
                	<h2><a>Tin tức</a></h2>
                    <div class="tintuc">
                    	<ul>                    	
                    	<?php foreach ($news as $item):?>                   	
                        	<li>
                            	<div class="anh_tin"><a href="#"><img width="130" src="<?php echo site_url().$item->getImg();?>" /></a></div>
                                <h3><a href="<?php echo site_url();?>news/<?php echo $item->getId();?>-<?php echo khongdau($item->getTitle());?>"><?php echo $item->getTitle();?></a></h3>
                                <p><a href="#">
                                <?php echo $item->getSummary();?>
                                </a></p>
                                <div class="xemtiep"><a href="<?php echo site_url();?>news/<?php echo $item->getId();?>-<?php echo khongdau($item->getTitle());?>">Xem tiếp »</a></div>
                            </li>
                        <?php endforeach;?> 
                      </ul>
                    </div><!--End class tintuc-->
                    <div class="phantrang phantrang_2">
                        	<ul>
                                <li><a href="#"  class="active">1</a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">4</a></li>
                                <li><a href="#">5</a></li>
                        	</ul>
                        </div><!--End class show_sp-->
                </div><!--End class right-->
            </div><!--end class right-->
        </div><!--end class content-->
        
  
           