	  </td>
					</tr>
					<tr>
					  <td height="58" class="footer">
						  <table width="989"  border="0" cellspacing="0" cellpadding="0">
							<tr>
							  <td height="25" align="left" class="txt">
										<a href="#" id="wht2">Trang chủ</a> &nbsp;&nbsp;|&nbsp;&nbsp;				  
                                        <a href="#" id="wht2">Giới thiệu</a> &nbsp;&nbsp; |&nbsp;&nbsp;				  
                                        <a href="#" id="wht2">Chính sách</a> &nbsp; &nbsp;|&nbsp;&nbsp;				  
                                        <a href="#" id="wht2">Bản đồ</a> &nbsp;&nbsp;|&nbsp;&nbsp; 
										<a href="#" id="wht2">FAQ</a> &nbsp;&nbsp;|&nbsp;&nbsp; 
										<a href="#" id="wht2">Liên hệ</a></td>							
							</tr>
						  </table>
					  </td>
					</tr>
				  </table>
		  
		  </td>
	  </tr>
	</table>
</body>
</html>
