<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<title>Online Store</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link href="<?php echo site_url();?>/skin/fashionshop/style.css" rel="stylesheet" type="text/css">
</head>
<body>
	<table width="990"  border="0" cellspacing="0" cellpadding="0" align="center">
	  <tr>
		<td height="531" align="left" valign="top">
				<table width="990"  border="0" cellspacing="0" cellpadding="0">
				  <tr>
						<td height="85" align="left" valign="top" class="menu">
									<table width="100%"  border="0" cellspacing="0" cellpadding="0">
									  <tr>
										<td width="20%" height="85"><a href="#"><img src="<?php echo site_url();?>/skin/fashionshop/images/onstore.jpg" alt="" width="201" height="85" border="0"></a></td>
										<td width="80%"><table width="790"  border="0" cellspacing="0" cellpadding="0">
										  <tr>
											<td width="61" height="25" align="center">
											<?php if (!$login):?>
											<a href="<?php echo site_url('login');?>" id="wht">Login</a>
											<?php endif;?>
											</td>
											<td width="10"><a href="#"><img src="<?php echo site_url();?>/skin/fashionshop/images/spacer.gif" alt="" width="10" height="10" border="0"></a></td>
											<td width="245" align="center" class="txt">Giỏ hàng: <a href="#" id="wht2">2 sp</a> Xem</td>
											<td width="14"><a href="#"><img src="<?php echo site_url();?>/skin/fashionshop/images/spacer.gif" alt="" width="10" height="10" border="0"></a></td>
											<td width="182" align="center" class="txt">&nbsp;</td>
											<td width="14">&nbsp;</td>
											<td width="263" class="txt">
													<table width="100%"  border="0" cellspacing="0" cellpadding="0">
													  <tr>
														<td width="23%" class="txt">Search:</td>
														<td width="55%"><input name="textfield" type="text" class="int"></td>
														<td width="22%"><a href="#"><img src="<?php echo site_url();?>/skin/fashionshop/images/go.jpg" alt="" width="32" height="23" border="0"></a></td>
													  </tr>
													</table>
											</td>
										  </tr>
										</table></td>
									  </tr>
									</table>
						</td>
				  </tr>
				  </table>
				  <table width="990"  border="0" cellspacing="0" cellpadding="0">
					<tr align="left" valign="top">
					  <td width="209" height="363" class="news" style="background:#CCCCCC">
						<div class="button1"><img src="<?php echo site_url();?>/skin/fashionshop/images/spacer.gif" alt="" width="25" height="19"><a href="<?php echo site_url('shop').'/'.$account;?>" id="wht2">Trang chủ</a></div>
						<div class="button1"><img src="<?php echo site_url();?>/skin/fashionshop/images/spacer.gif" alt="" width="25" height="19"><a href="#" id="wht2">Giới thiệu</a></div>
						<div class="button1"><img src="<?php echo site_url();?>/skin/fashionshop/images/spacer.gif" alt="" width="25" height="19"><a href="#" id="wht2">Chính sách</a></div>
						<div class="button1"><img src="<?php echo site_url();?>/skin/fashionshop/images/spacer.gif" alt="" width="25" height="19"><a href="<?php echo site_url('shop').'/map/'.$account;?>" id="wht2">Bản đồ</a></div>
						<div class="button1"><img src="<?php echo site_url();?>/skin/fashionshop/images/spacer.gif" alt="" width="25" height="19"><a href="#" id="wht2">Hỏi đáp</a></div>
						<div class="button1"><img src="<?php echo site_url();?>/skin/fashionshop/images/spacer.gif" alt="" width="25" height="19"><a href="#" id="wht2">Liên hệ</a></div>
					  </td>
					  <td width="534"><a href="#"><img src="<?php echo site_url();?>/skin/fashionshop/images/ads.jpg" alt="" width="534" height="371" border="0"></a></td>
					  <td width="247">
							  <table width="246"  border="0" cellspacing="0" cellpadding="0">
								<tr>
								  <td><a href="#"><img src="<?php echo site_url();?>/skin/fashionshop/images/banner1.jpg" alt="" width="247" height="205" border="0"></a></td>
								</tr>
								<tr>
								  <td><a href="#"><img src="<?php echo site_url();?>/skin/fashionshop/images/banner2.jpg" alt="" width="247" height="166" border="0"></a></td>
								</tr>
							  </table>
					  </td>
					</tr>
				  </table>
				  
		  
				  <table width="990"  border="0" cellspacing="0" cellpadding="0">
					<tr>
						  <td height="649" align="left" valign="top" class="tbody">