
						  <table width="990" height="636"  border="0" cellpadding="0" cellspacing="0">
							<tr align="left" valign="top">
							  <td width="209" height="636">
									  <table width="208"  border="0" cellspacing="0" cellpadding="0">
										<tr>
										  <td height="54"><span class="style1"><img src="<?php echo site_url();?>/skin/fashionshop/images/spacer.gif" alt="" width="24" height="1">Danh mục</span></td>
										</tr>
										<tr>
											  <td height="348" valign="top">
													<?php foreach ($cat_list as $item):?>
													<div class="buttonwhite"><img src="<?php echo site_url();?>/skin/fashionshop/images/spacer.gif" alt="" width="24" height="17"><a href="#" id="black"><?php echo $item->getName();?></a></div>
													<?php endforeach;?>
											  </td>
										</tr>
										<tr>
										  <td height="161" align="left" valign="top" class="news">
										  <form name="form1" method="post" action="">
											<table width="100%"  border="0" cellspacing="0" cellpadding="0">
											  <tr>
												<td width="10%" height="37">&nbsp;</td>
												<td width="90%" valign="bottom" class="WhiteNews">Nhận thông báo</td>
											  </tr>
											  <tr>
												<td height="29">&nbsp;</td>
												<td valign="bottom" class="txt">Nhập vào e-mail:</td>
											  </tr>
											  <tr>
												<td height="41">&nbsp;</td>
												<td><input type="text" name="textfield2" class="NewsInfo"></td>
											  </tr>
											  <tr>
												<td>&nbsp;</td>
												<td><a href="#"><img src="<?php echo site_url();?>/skin/fashionshop/images/sb.jpg" alt="" width="82" height="23" border="0"></a></td>
											  </tr>
											</table>
										  </form>
										  </td>
										</tr>
									  </table>
							  </td>
							  <td width="781">
							  <table width="780" height="644"  border="0" cellpadding="0" cellspacing="0">
									<tr align="left" valign="top">
									  <td width="23" height="382"><a href="#"><img src="<?php echo site_url();?>/skin/fashionshop/images/spacer.gif" alt="" width="10" height="10" border="0"></a></td>
									  <td width="735">
											  <table width="734"  border="0" cellspacing="0" cellpadding="0">
												<tr>
												  <td>&nbsp;</td>
												</tr>
												<tr>
												  <td><span class="style1">Lorem ipsum</span></td>
												</tr>
												<tr>
												  <td><img src="<?php echo site_url();?>/skin/fashionshop/images/hr.jpg" alt="" width="731" height="12"></td>
												</tr>
												<tr>
												  <td height="62">Wisi, ex enim luptatum facilisi os vel epulae iustum duis facilisi ulciscor facilisi, luptatum. Gemino exerci ex ut bis antehabeo distineo hos cogo sit oppeto nostrud loquor iustotulto ut tum lobortis vero distineo</td>
												</tr>
											  </table>
												<table width="734"  border="0" cellspacing="0" cellpadding="0">
												  <tr>
													<td><img src="<?php echo site_url();?>/skin/fashionshop/images/a1.jpg" width="731" height="25"></td>
												  </tr>
												  <tr>
													<td>
														<table width="734"  border="0" cellspacing="0" cellpadding="0">
														  <tr>
															<td width="58"><a href="#"><img src="<?php echo site_url();?>/skin/fashionshop/images/a2.jpg" alt="" width="58" height="268" border="0"></a></td>
															<td width="198"><a href="#"><img src="<?php echo site_url();?>/skin/fashionshop/images/a3.jpg" alt="" width="198" height="268" border="0"></a></td>
															<td width="10"><a href="#"><img src="<?php echo site_url();?>/skin/fashionshop/images/a4.jpg" alt="" width="212" height="268" border="0"></a></td>
															<td width="366"><a href="#"><img src="<?php echo site_url();?>/skin/fashionshop/images/a5.jpg" alt="" width="200" height="268" border="0"></a></td>
															<td width="102"><a href="#"><img src="<?php echo site_url();?>/skin/fashionshop/images/a6.jpg" alt="" width="63" height="268" border="0"></a></td>
														  </tr>
														</table>
													</td>
												  </tr>
												  <tr>
													<td><img src="<?php echo site_url();?>/skin/fashionshop/images/a7.jpg" width="731" height="26"></td>
												  </tr>
												</table>
												<table width="734"  border="0" cellspacing="0" cellpadding="0">
												  <tr>
													<td height="22"><a href="#"><img src="<?php echo site_url();?>/skin/fashionshop/images/spacer.gif" alt="" width="10" height="10" border="0"></a></td>
												  </tr>
												</table>
												<table width="734" height="188"  border="0" cellpadding="0" cellspacing="0">
												  <tr>
													<td width="303"><span class="style1">Dodio delenit regula</span><br>
													  Wisi, ex enim luptatum facilisi os vel epulae iustum duis facilisi ulciscor facilisi, luptatum. Gemino exerci ex ut bis antehabeo distineo<br> 
													  hos cogo sit oppeto nostrud loquor iustotulto<br> 
													  ut tum <a href="#">lobortis vero distineo</a>.<br></td>
													<td width="39" align="center"><img src="<?php echo site_url();?>/skin/fashionshop/images/as.gif" alt="" width="9" height="150"></td>
													<td width="392"><span class="style1">Dodio delenit regula</span><br>
													  &nbsp;<span class="style2">&bull;</span>&nbsp;&nbsp;Wisi, ex enim luptatum facilisi os vel epulae iustum duisfa:<br>
													  &nbsp;<span class="style2">&bull;</span>&nbsp;&nbsp;Multo ut tum lobortis vero distineo jumentum<br>
													  &nbsp;<span class="style2">&bull;</span>&nbsp;&nbsp;Nobis lobortis olim viciser<br>
													  &nbsp;<span class="style2">&bull;</span>&nbsp;&nbsp;Commoveo nunc ludus acsi distineo incassum nullus<br>
													  &nbsp;<span class="style2">&bull;</span>&nbsp;&nbsp;Multo ut tum lobortis vero distineo jumentum</td>
												  </tr>
												</table>
									  </td>
									  <td width="22"><a href="#"><img src="<?php echo site_url();?>/skin/fashionshop/images/spacer.gif" alt="" width="10" height="10" border="0"></a></td>
									</tr>
							  </table>
							  </td>
							</tr>
						  </table>
					