<div class="content-header">
    <h3 class="icon-head head-system-account">Tin tức - Sửa chuyên mục tin</h3> 
    <div class="form-buttons">
	<button onclick="form1.submit();" class="scalable save" type="button" id="id_"><span>Cập nhật</span></button>    
    </div>
</div>
<div class="entry-edit">
<div class="entry-edit-head">
<h4 class="icon-head head-edit-form fieldset-legend">Sửa chuyên mục tin</h4>
</div>
<div class="fieldset " id="base_fieldset">
<div class="hor-scroll">
<form id="form1" name="form1" method="post" action="<?php echo $this->config->site_url('admin');?>/do_edit_newscat">
  Chuyên mục gốc:
  <select name="parent_id">
  <option value="0" selected>= Chuyên mục gốc =</option>
  <?php foreach ($category as $value): ?> 
  <option value="<?php echo $value->getId();?>" <?php if ($value->getId()==$cat->getParentId()) echo " selected ";?>><?php echo $value->getName();?></option>
  <?php endforeach;?>
  </select>
  Chuyên mục tin: 
  <label>
  <input type="text" name="cat_name" size="40" value="<?php echo $cat->getName();?>" class="input-text"/>
  <input type="hidden" name="cat_id" value="<?php echo $cat_id;?>" />    
  </label>
</form>
</div>
</div>
</div>
</div>