@charset "utf-8";
/* CSS Document */

* { 
margin : 0 ; 
padding : 0; 
} 
body { font:12px Arial, Helvetica, sans-serif; 
       background: #763f1d; 
} 
ul, li, p, img { 
margin : 0; list-style:none;
padding : 0; 
} 
.clearfix:after { 
clear : both; 
display : block; 
content : "."; 
height : 0; 
visibility : hidden; 
} 
* html > body .clearfix { 
width : 100%; 
display : block; 
} 
* html .clearfix { 
height : 1%; 
} 

.clearfix{ clear:both}

a{
	font-size: 12px;
	font-weight: normal;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
}
.wapper {
	width:1000px;
	margin:0 auto;
	background:url(images/bg_coffee2.jpg) no-repeat;
	height:385px;
}
.header {
	width:1000px;
	float:left;
}
.logo {
	padding-left:50px;
	float:left;
}
.dangky_search {
    float:right;
    padding-right:50px;
    padding-top:20px;
}
.dangky a {
	font-family: "Times New Roman", Times, serif;
	font-size: 20px;
	font-weight: normal;
	color: #f09f4f;
	font-style: italic;
	text-decoration: underline;
}
.dangky{float:right;}
.box_search{
	width:200px;
	float:right;
}
.box_search form{
	padding-top:10px;
	float:right;
	
}
.input {
	background: url(images/box1.png) no-repeat scroll 0 0 transparent;
	border: medium none;
	color: #402211;
	float: left;
	height: 31px;
	padding-left: 6px;
	vertical-align: middle;
	width: 156px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: italic;
	font-weight: normal;
}
.btn-search {
    background:url(images/box2.png) no-repeat scroll 0 0 transparent;
    border:medium none;
    float:left;
    height:31px;
    vertical-align:middle;
    width:37px;
	cursor:pointer;
}
.content {
    margin:70px auto 30px;
    overflow:hidden;
   
    width:900px;
}
.left{
	width:265px;
	float:left;
}
.right{
	width:602px;
	float:right;
}
.danhmuc{
	float:left;
	padding-bottom:25px;
}
.top{
	background:url(images/top.png) no-repeat;
	width:265px;
	height:34px;
}
	
.bg_center {
	background:url(images/bg_center.png) repeat-y;
	overflow:hidden;
	
}
.bg_center ul li {
	background:url(images/icon.png) no-repeat left 16px;
	padding-left:31px;
	padding-bottom:5px;
	padding-top:5px;
	border-bottom:1px dashed #ae7241;
}
.menu li a {
    color:#F09F4F;
    font-family:"Times New Roman",Times,serif;
    font-size:30px;
    font-style:italic;
    font-weight:normal;
}

.menu {
    margin:0 auto;
  
    padding-bottom:13px;
    padding-top:5px;
    width:73%;
}
.bot{
	background:url(images/bottom.png) no-repeat;
	width:265px;
	height:34px;
}
.truycap {
	float:left;
}
.truycap h2 a {
	font-family: "Times New Roman", Times, serif;
	font-size: 28px;
	font-style: italic;
	font-weight: bold;
	color: #f09f4f;
}
.thongke {
    float:left;
    padding-top:10px;
    width:260px;
}
.thongke li a {
	font-family: "Times New Roman", Times, serif;
	font-size: 25px;
	font-weight: bold;
	color: #402211;
}
.thongke li a span {
	float: right;
	font-weight: normal;
	color: #f09f4f;
}
.wellcome p a {
	font-family: "Times New Roman", Times, serif;
	font-size: 20px;
	font-weight: normal;
	color: #f09f4f;
	
}

.wellcome{float:left;}
.wellcome p{ width:356px; float:left; text-align:justify; padding-top:10px;}
.capnhat {
	padding-top:38px;
	float:left;
}
.capnhat h2 a {
	font-family: "Times New Roman", Times, serif;
	font-size: 30px;
	font-style: italic;
	font-weight: bold;
	color: #f09f4f;
}
.capnhat h2{padding-bottom:10px;}
.box{ width:602px;
float:left;
background:#402211;
}
.anh_sp
{ width:220px;
height:151px;
float:left;
padding:5px;
}
.list_sp {
	float:left;
	padding-top:10px;
	padding-left:15px;
}
.list_sp ul li {
    background:url("images/icon_list.png") no-repeat scroll left 6px transparent;
    padding-bottom:2px;
    padding-left:20px;
    padding-top:2px;
}
.list_sp ul li a {
	font-family: "Times New Roman", Times, serif;
	font-size: 16px;
	font-weight: normal;
	color: #f09f4f;
}
.list_sp ul li a:hover{text-decoration:underline;}
.rows{
	float:right;
	padding-right:5px;
	padding-bottom:5px;
}
.thamdo_thaoluan{ float:left; padding-top:12px; width:602px;}
.thamdo{ width:274px; float:left; border-top:1px dotted #c67e3e;border-right:2px solid #945729; border-left:2px solid #945729;  border-bottom:2px dotted #bb7539;}
.thaoluan{ width:274px; float:right;}
.thamdo h2 a {
	font-family: "Times New Roman", Times, serif;
	font-size: 27px;
	font-style: italic;
	font-weight: bold;
	color: #f09f4f;
}
.thamdo h2{ text-align:center; padding-top:10px; border-bottom:1px dotted #c67e3e;}
.danhgia{
	width:86%;
	margin:0 auto;
	overflow:auto;
}
.danhgia .known a {
	font-family: "Times New Roman", Times, serif;
	font-size: 16px;
	font-weight: normal;
	color: #f09f4f;
}
.danhgia .known a img {
	padding-top:3px;
}
.danhgia .known{ padding-top:6px;}
.right_nt{ float:right;}
.list_thaoluan {
    padding-bottom:20px;
    padding-top:10px;
    text-align:center;
}
.list_thaoluan p a {
	font-family: "Times New Roman", Times, serif;
	font-size: 20px;
	font-weight: normal;
	color: #f09f4f;
	font-style: italic;
	text-decoration:underline;
}
.list_thaoluan p{ padding-top:10px;}
.footer {
	width:1000px;
	float:left;
	height:79px;
	background:url(images/bg_footer.jpg) no-repeat;
	text-align:center;
}
.footer p a {
	font-family: "Times New Roman", Times, serif;
	font-size: 16px;
	font-style: italic;
	font-weight: normal;
	color: #ffffff;
	
}
.banbe a, .phantram a {
	font-family: "Times New Roman", Times, serif;
	font-size: 16px;
	font-weight: normal;
	color: #f09f4f;
	font-style: italic;
}

.footer p{ padding-top:6px;}
.banbe{ padding-top:10px; float:left;}
.phantram{ float:right;}
.tile{ width:100%; float:left;}
.nau{ width:50%; float:left; height:6px; background:#3e2214;}
.xam{width:50%; float:left; height:6px; background:#f39e4d;}
/*Begin Lien he*/
.tintuc_bd {
	width:602px;
	float:left;
	margin-top:15px;
}
.tintuc_bd h2 {
	
	
	border-bottom:1px solid #F09F4F;
	padding-bottom:6px;
}
.tintuc_bd h2 a {
	color:#F09F4F;
    font-family:"Times New Roman",Times,serif;
    font-size:30px;
    font-style:italic;
    font-weight:normal;
}

.diachi_1 {
	padding-top:18px;
	float:left;
}
.diachi_1 p {
	color: #404040;
	line-height:160%;
}
.diachi_1 p span {
	font-weight: bold;	
}
.contact {
	
	padding-top:20px;
    width:556px;
	float:left;
	
}

.title_contact {
	font-size: 19px !important;
	color: #F09F4F;
	padding-top: 20px;
	padding-bottom: 10px;
	font-weight: bold;
	font-family: "Times New Roman", Times, serif;	
	
}
.fieldwrapper {
	overflow:hidden;
    padding:5px 0;
}
.fieldwrapper .styled {
	width:90px;
	float:left;
	margin-right:6px;
	color:#F09F4F;
}
.thefield .subject {
	border:1px solid #b5cbef;
    font-size:13px;
    height:20px;
    width:260px;
}
.thefield textarea {
	width:405px;
	height:125px;
	border:1px solid #b5cbef;
}
.sub {
    border:1px solid #CCCCCC;
    float:left;
    height:20px;
    margin-left:10px;
    margin-top:10px;  
    width:167px;
}
.ma{
	float:left;
}
.send {
	padding:10px 0 10px 96px;
}
.send input {
    background:none repeat scroll 0 0 #B5CBEF;
    border:1px solid #CCCCCC;
    border-radius:3px 3px 3px 3px;
    color:#000000;
    cursor:pointer;
    font-size:11px;
    font-weight:bold;
    margin-right:5px;
    padding:4px;
}
.sub_2 {
    border:1px solid #b5cbef;
    float:left;
    height:20px;
   
    width:120px;
}
.ma{ padding-left:10px;}
/* End lien he*/
/*Begin tin tức*/
.tintuc {
	float:left;
}
.tintuc ul li {
	padding-top:15px;
	padding-bottom:15px;
	overflow:auto;
	border-bottom:1px dotted #cccccc;
}
.anh_tin {
	border:1px solid #cccccc;
	padding:2px;
	width:128px;
	height:100px;
	float:left;
	margin-right:15px;
	
}

.tintuc ul li h3 a {
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #F09F4F;
}
.tintuc ul li h3 {
	padding-bottom:5px;
}
.tintuc ul li p a {
	font-weight: normal;
	color: #ffffff;
	line-height: 150%;
	font-family: Tahoma, Geneva, sans-serif;
}
.xemtiep {
	float:right;
	padding-top:15px;
}
.xemtiep a {
	font-size: 11px;
	font-weight: normal;
	color: #F07D02;
	font-family: Tahoma, Geneva, sans-serif;
}
.xemtiep a:hover{text-decoration:underline;}
.tintuc ul li h3 a:hover{color:#808080;}
.phantrang_2{
	margin-top:10px;
	padding:0px;
}
/*And tin tuc*/
/*begin detail tin tuc*/
.detail_tintuc {
	padding-top:12px;
	overflow:hidden;
	
}
.detail_tintuc h3 {
	font-size: 19px;
	font-weight: bold;
	color: #F09F4F;
	padding-bottom: 15px;
	padding-top: 10px;
	font-family: "Times New Roman", Times, serif;
}
.detail_tintuc p {
	font-weight: normal;
	color: #f5ebe1;
	padding-bottom:5px;
	line-height:170%;
	
}
.detail_anh {
    padding-bottom:20px;
    padding-top:30px;
    text-align:center;
}
.detail_anh img {
	border:1px solid #cccccc;
	padding:4px;
	width:500px;
	height:250px;
}

.tieude {
	font-size: 12px;
	font-style: italic;
	color: #404040;
	font-family: Tahoma, Geneva, sans-serif;
	padding-top:15px;
}
.chiase {
	float:right;
	margin-top:30px;
}
.chiase ul li {
	float:left;
	padding-right:20px;
	height:30px;
	line-height:30px;
}
.tinkhac {
	margin-top:10px;
}
.tinkhac h3 {
	font-size: 17px;
	font-weight: bold;
	color: #F09F4F;
	border-bottom: 1px dotted #cccccc;
	padding-bottom: 3px;
	font-family: "Times New Roman", Times, serif;
}
.tinkhac ul {
	padding-top:10px;
}
.tinkhac ul li {
    background:url(images/icon_list.png) no-repeat scroll left 2px transparent;
    padding-bottom:7px;
    padding-left:20px;
}
.tinkhac ul li a {
	font-weight: bold;
	color: #F09F4F;
}
.tinkhac ul li a span {
	font-weight: normal;
}
.tinkhac ul li a:hover{color:#f5ebe1;}
/*phantrang*/
.phantrang {
    float:right;
   
    padding-bottom:13px;
    
}
.phantrang li {
	display:inline;
	
}
.phantrang li a {
    background:none repeat scroll 0 0 #CCCCCC;
    border:1px solid #CCCCCC;
    color:#000000;
    font-weight:normal;
    padding:1px 6px;
}
.phantrang li a:hover, .phantrang li a.active{
	color:#000000;
	background-color:#ffffff;	
}
/*And detail tin tuc*/
/*menu danh muc*/
.left_nt {
	padding-top:30px;
	float:left;
}
.left_nt ul li {
	
	width:280px;
	 box-shadow:0 1px 2px 2px #A5A7A5;
	 margin-left:5px;
	 overflow:hidden;
	 margin-right:28px;
	 float:left;
	 margin-bottom:35px;
}
.left_nt ul li img{ width:280px;height:180px;}


.left_nt ul li h2 a {
    color:#F09F4F;
    font-family:"Times New Roman",Times,serif;
    font-size:22px;
    font-style:italic;
    font-weight:normal;
}
.left_nt ul li h2{
	border:none;
	text-align:center;
	padding-bottom:5px;
	margin:0 10px;
	padding-top:4px;
}

.none_padding{margin-right:0 !important;}
/*end menu danh muc*/