<style>
.top_menu {
    display: block;
    float: left;
    margin: 0 0 0 78px;
}
.top_menu li {
    display: inline;
    float: left;
    list-style-type: none;
    padding: 0 12px;
}
</style>
<div class="setupstore" style="magin:10px;">
<ul class="top_menu" style="margin-top:10px;">
<li>
	<img src='/css/images/icon_vuong.gif'> <a href="<?php echo site_url('setupshop/config');?>">Cài đặt gian hàng</a>
</li>
<li>
	<img src='/css/images/icon_vuong.gif'> <a href="<?php echo site_url('setupshop/setcategory');?>">Quản lý chuyên mục</a>
</li>
</ul>
<div class="clear"></div>
<br>
<div class="content-header">
    <center><h3 class="icon-head head-system-account">Sản phẩm - Thêm danh mục sản phẩm mới</h3></center> 
</div>
<div class="entry-edit">
<div class="entry-edit-head">
<h4 class="icon-head head-edit-form fieldset-legend">&nbsp;Thêm danh mục sản phẩm mới</h4>
</div>
<br>
<form id="form1" name="frm" method="post" action="<?php echo $this->config->site_url('setupshop');?>/add_new_cat">  
<div class="fieldset " id="base_fieldset">
<div class="hor-scroll">
  <table width=100% class="form-list">
  <tr>
  <td>
  Danh mục gốc:  
  </td>
  <td>
  <select name="cat_id">
  <option value="0" selected>= Danh mục gốc =</option>
  <?php foreach ($catalog as $item): ?>
  <option value="<?php echo $item->getId();?>"><?php echo $item->getName();?></option>
  <?php endforeach;?>
  </select>
  </td>
  </tr>
  <tr>
  <td>
  Danh mục sản phẩm: 
  </td>
  <td>
  <label>
  <input type="text" name="cat_name" size="60" value="" class="input-text" />  *
  </label>
  </td>
  </tr>
  </table>
  </div>
  </div>
  <div class="form-buttons">
	<button onclick="return check(frm);" class="scalable save" type="button" id="id_"><span>Thêm mới</span></button>    
  </div>
</form>
</div>

	<ul style="padding:10px;width:250px;">
		<?php foreach ($category as $value) : ?>
		<li>
			<img src='/css/images/tree_icons/nolines_plus.gif'> <a href="<?php echo site_url('admin/sanpham').'/'.$value->getId();?>"><?php echo $value->getName();?></a> 
			<div style="float:right;">
			<a href="<?php echo site_url('setupshop/editstorecat').'/'.$value->getId();?>" alt="Sửa"><img src="/images/b_edit.png"></a> 
			<a href="<?php echo site_url('setupshop/deletestorecat').'/'.$value->getId();?>" onclick="return confirm('Bạn có thực sự muốn xóa không?');" alt="Xóa"><img src="/images/b_drop.png"></a>
			</div>
			<ul style="margin-left:20px;">
			<?php foreach ($subcat[$value->getId()] as $val):?>
         	<li> 
	          		<img src='/css/images/tree_icons/minus.gif'> <a href="<?php echo site_url();?>" title="<?php echo $val->getName();?>"><?php echo $val->getName();?></a>
	        		<div style="float:right;">
					<a href="<?php echo site_url('setupshop/editstorecat').'/'.$val->getId();?>" alt="Sửa"><img src="/images/b_edit.png"></a> 
					<a href="<?php echo site_url('setupshop/deletestorecat').'/'.$val->getId();?>" onclick="return confirm('Bạn có thực sự muốn xóa không?');" alt="Xóa"><img src="/images/b_drop.png"></a>
					</div>
	        </li>			
			<?php endforeach;?>
			</ul>
		</li>
		<?php endforeach;?>
	</ul>
</div>
<script language=javascript>
function check(frm) {
	if (frm.cat_name.value=="") {
		alert("Bạn chưa nhập tên danh mục sản phẩm!");
		frm.cat_name.focus();
		return false;
	}
	frm.submit();
	return true;
}
</script>