<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>Cai dat gian hang</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="Robots" content="INDEX, ALL" />
	<meta name="Description" content="Cai dat gian hang" />
	<meta NAME="Keywords" content="cai dat, gian hang, store, shop" />	
	<link rel="stylesheet" type="text/css" href="<?php echo site_url();?>css/style.css" />
	<link rel="stylesheet" type="text/css" href="<?php echo site_url();?>css/FSmain.css" />
	<link rel="stylesheet" type="text/css" href="<?php echo site_url();?>css/FStheme.css" />
	<link rel="stylesheet" type="text/css" href="<?php echo site_url();?>css/CSS1.css" />
	<script type="text/javascript" src="<?php echo site_url();?>js/jquery.min.js"></script>
	<script type="text/javascript" src="<?php echo site_url();?>js/tooltips.js"></script>
	<script type="text/javascript" src="http://static.vatgia.com/js/jquery.tooltip.js"></script>
	<script type="text/javascript" src="<?php echo site_url();?>js/item.js"></script>
</head>
<body>
<div class="wrapper">
<div class="footer_menu"><a lang="vi" target="_self" href="http://vatgia.com/" class="normal">Vatgia.com</a><span>|</span><a lang="vi" rel="nofollow" target="_self" href="vienthinh" class="current">Trang chủ</a><span>|</span><a lang="vi" rel="nofollow" target="_self" href="vienthinh&amp;module=static&amp;view=about" class="normal">Giới thiệu</a><span>|</span><a lang="vi" rel="nofollow" target="_self" href="vienthinh&amp;module=estimate" class="normal">Đánh giá</a><span>|</span><a lang="vi" rel="nofollow" target="_self" href="vienthinh&amp;module=map" class="normal">Bản đồ</a><span>|</span><a lang="vi" rel="nofollow" target="_self" href="vienthinh&amp;module=faq" class="normal">Hỏi đáp</a><span>|</span><a lang="vi" rel="nofollow" target="_self" href="vienthinh&amp;module=static&amp;view=warranty" class="normal">Chính sách</a><span>|</span><a lang="vi" rel="nofollow" target="_self" href="vienthinh&amp;module=contact" class="normal">Liên hệ</a></div>
								    