<div id="container_footer">
<div class="footer_top"><div class="fl"></div><div class="fr"></div></div>
								<div class="footer_menu"><a lang="vi" target="_self" href="http://vatgia.com/" class="normal">Vatgia.com</a><span>|</span><a lang="vi" rel="nofollow" target="_self" href="vienthinh" class="current">Trang chủ</a><span>|</span><a lang="vi" rel="nofollow" target="_self" href="vienthinh&amp;module=static&amp;view=about" class="normal">Giới thiệu</a><span>|</span><a lang="vi" rel="nofollow" target="_self" href="vienthinh&amp;module=estimate" class="normal">Đánh giá</a><span>|</span><a lang="vi" rel="nofollow" target="_self" href="vienthinh&amp;module=map" class="normal">Bản đồ</a><span>|</span><a lang="vi" rel="nofollow" target="_self" href="vienthinh&amp;module=faq" class="normal">Hỏi đáp</a><span>|</span><a lang="vi" rel="nofollow" target="_self" href="vienthinh&amp;module=static&amp;view=warranty" class="normal">Chính sách</a><span>|</span><a lang="vi" rel="nofollow" target="_self" href="vienthinh&amp;module=contact" class="normal">Liên hệ</a></div>
								<div class="footer_content"><div><table cellspacing="1" cellpadding="1" border="0" style="width: 100%;"><tbody><tr><td colspan="2"><span style="font-size: large;"><b>CÔNG TY TNHH DỊCH VỤ VIỄN THÔNG VIỄN THỊNH</b></span></td></tr><tr><td><span style="font-size: large;">Địa chỉ</span></td><td><span style="font-size: large;">: 396 Xô Viết Nghệ Tĩnh, Phường 25, Quận Bình Thạnh</span></td></tr><tr><td><span style="font-size: large;">Điện thoại</span></td><td><span style="font-size: large;">: <span style="background-color: #ffff00;"><span style="color: #ff0000;">08 5445 0792</span></span> - (083) 898 4119 &nbsp;- (085) 445 0792</span></td></tr></tbody></table></div></div>
								<div class="footer_bottom"><div class="fl"></div><div class="fr"></div></div>
								<script type="text/javascript">
								$(function(){
									$(".product_picture_thumbnail").tooltip({
										bodyHandler: function(){
											$("#tooltip").css("width", "auto");
											return this.rel;
										},
										track: true,
										showURL: false,
										extraClass: ""
									});
									initColorBox();
								});
								</script>
								</div>