                    <div class="bg_center">
                    	<ul class="menu">
                        	<li><a href="<?php echo site_url();?>">Trang chủ</a></li>
                            <li><a href="<?php echo site_url('cms/1-gioithieu.html');?>">Giới thiệu</a></li>
                            <li><a href="<?php echo site_url('menucafe');?>">Menu cafe</a></li>
                            <li><a href="<?php echo site_url('cms/2-vanhoacafe.html');?>">Văn hóa cafe</a></li>
                            <li><a href="<?php echo site_url('tintuc');?>">Tin tức</a></li>
                            <li><a href="<?php echo site_url('lienhe');?>">Liên hệ</a></li>
                        </ul>
                    </div><!--end class bg_center-->