<!DOCTYPE html "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <title>Google Maps JavaScript API Example</title>	
    <link rel="stylesheet" type="text/css" href="http://vatgia.com/themes/multi_themes_v2/css/trickle/FSmap.css" />
	<script type="text/javascript" src="<?php echo site_url();?>js/jquery.min.js"></script>
    <script src="http://maps.google.com/maps?file=api&amp;v=2&amp;key=AIzaSyAqGUlPP6D_jcOcuyqnMP0gv4yOiZw-WRg&sensor=false"
            type="text/javascript"></script>
    <script type="text/javascript">
	/*
    function initialize() {
      if (GBrowserIsCompatible()) {
        var map = new GMap2(document.getElementById("map_canvas"));
        map.setCenter(new GLatLng(<?php echo $lat;?>, <?php echo $lng;?>), 15);
        map.setUIToDefault();
      }
    }
	*/
    </script>
    
	<script type="text/javascript">
	    var map = null;
	    var geocoder = null;
	
	    function initialize(lat,lng,html) {
	      if (GBrowserIsCompatible()) {
	        map = new GMap2(document.getElementById("map_canvas"));
	        var center;
	        map.setCenter(center = new GLatLng(lat, lng),16);
	        var marker = new GMarker(center);
	        map.addOverlay(marker);    
	        marker.openInfoWindowHtml(html);    
	        geocoder = new GClientGeocoder();
	      }
	    }
	</script>

  </head>
  
<script type="text/javascript">
$(document).ready(function(){
     var lat=<?php echo $lat;?>;
     var lng=<?php echo $lng;?>;
     var html = $('#html').html();
     initialize(lat,lng,html);
})
</script>
	<div id="wrapper">
	<div id="content_inside">
<div> 
<div id="html" style="float:left;width:240px;margin:5px;">
<div class="map_title"><?php echo $storeInfo->getName();?></div>
<b>Địa chỉ:</b> <?php echo $storeInfo->getAddress();?><br>
<strong>Điện thoại:</strong> <?php echo $storeInfo->getPhone();?><br>
<strong>Hotline:</strong> <?php echo $storeInfo->getMobile();?>
</div> 
<div id="map_canvas" style="width:680px; height: 400px; margin:5px;float:right;"></div>
</div>
<p>
</div>
</div>
