<div id="footer">
		<div id="footer_inside">
			<ul class="footer_menu">
				<li><a href="index.html">Trang chủ</a>|</li>
				<li><a href="#">Giới thiệu</a>|</li>
				<li><a href="#">Chính sách</a>|</li>
				<li><a href="#">Bản đồ</a>|</li>
				<li><a href="#">Hỏi đáp</a>|</li>
				<li><a href="#">Liên hệ</a></li>
			</ul><br /><br />
		</div>
	</div>
    <map name="Map">
       <area shape="rect" coords="78,45,312,119" href="index.html">
       <area shape="poly" coords="670,87,719,78,727,123,677,130" href="#">
       <area shape="poly" coords="776,124,818,152,793,189,751,160" href="#">
       <area shape="poly" coords="834,52,885,61,878,105,828,96" href="#">
	</map>
</body>
</html>
