		  <table width="996"  border="0" cellspacing="0" cellpadding="0">
							<tr>
							  <td><img src="images/footer.jpg" alt="" width="996" height="5"></td>
							</tr>
							<tr>
							  <td height="76"><table width="996"  border="0" cellspacing="0" cellpadding="0">
								<tr>
								  <td width="329" height="78" align="right"><a href="#"><span class="category"><a href="#"><img src="<?php echo site_url();?>/skin/cuahangmaytinh/images/spacer.gif" alt="" width="10" height="10" border="0"></a></span><img src="<?php echo site_url();?>/skin/cuahangmaytinh/images/hard.jpg" alt="" width="191" height="50" border="0"></a></td>
								  <td width="14">&nbsp;</td>
								  <td width="653"><span class="style7"><a href="#">Trang chủ</a>&nbsp; | &nbsp;&nbsp;<a href="#">Giới thiệu</a>&nbsp;&nbsp; |&nbsp; &nbsp;<a href="#">Chính sách</a>&nbsp; &nbsp;|&nbsp;&nbsp; <a href="#">Bản đồ</a>&nbsp;&nbsp; | &nbsp;&nbsp;<a href="#">Hỏi đáp</a>&nbsp;&nbsp; |&nbsp;&nbsp; <a href="#">Liên hệ</a></span><br>									
								</tr>
							  </table></td>
							</tr>
						  </table>
				  
				</td>
			</tr>
		</table>
</body>
</html>
