<?php require('seotiengviet.php'); ?>
							<table width="100%"  border="0" cellspacing="0" cellpadding="0">
								<tr>
								  <td width="60%" height="66" align="left" valign="top">
										  <table width="597"  border="0" cellspacing="0" cellpadding="0">
											<tr>
											  <td><img src="<?php echo site_url();?>/skin/cuahangmaytinh/images/afterlogo.jpg" width="597" height="38"></td>
											</tr>
											<tr>
											  <td height="28" class="slide">
													  <table width="597"  border="0" cellspacing="0" cellpadding="0">
														<tr>
														  <td width="76" height="14">&nbsp;</td>
														  <td width="134"><a href="#" id="white">Preview #1</a></td>
														  <td width="147"><a href="#" id="white">Preview #2</a></td>
														  <td width="123"><a href="#" id="white">Preview #3</a></td>
														  <td width="99"><a href="#" id="white">Preview #4</a></td>
														  <td width="18">&nbsp;</td>
														</tr>
													  </table>
											  </td>
											</tr>
										  </table>
								  </td>
								  <td width="40%">
										  <table width="399"  border="0" cellspacing="0" cellpadding="0">
											<tr>
											  <td width="157">&nbsp;</td>
											  <td width="58"><a href="<?php echo site_url('cart');?>"><img src="<?php echo site_url();?>/skin/cuahangmaytinh/images/trash.jpg" alt="" width="47" height="48" border="0"></a></td>
											  <td width="184"><span class="style6">Giỏ hàng:</span> <br>
												<a href="#"><span class="style7">0 sản phẩm</span></a></td>
											</tr>
										  </table>
								  </td>
								</tr>
							</table>
							<table width="996"  border="0" cellspacing="0" cellpadding="0">
								<tr>
								  <td><a href="#"><img src="<?php echo site_url();?>/skin/cuahangmaytinh/images/header.jpg" alt="" width="996" height="300" border="0"></a></td>
								</tr>
							</table>
						<table width="996"  border="0" cellspacing="0" cellpadding="0">
							<tr align="left" valign="top">
									  <td width="202" height="334">
												  <table width="202"  border="0" cellspacing="0" cellpadding="0">
													<tr>
													  <td height="320" align="left" valign="top">
														<div class="category"><img src="<?php echo site_url();?>/skin/cuahangmaytinh/images/spacer.gif" alt="" width="30" height="19">Danh mục sản phẩm<a href="#"><img src="<?php echo site_url();?>/skin/cuahangmaytinh/images/spacer.gif" alt="" width="10" height="10" border="0"></a></div>
														<?php foreach ($cat_list as $item):?>
														<div class="linkmenu"><img src="<?php echo site_url();?>/skin/cuahangmaytinh/images/spacer.gif" alt="" width="20" height="19"><span class="red">&bull;</span>&nbsp;&nbsp;<a href="#"><?php echo $item->getName();?></a></div>
														<?php endforeach;?>
													</td>
													</tr>
													<tr>
													  <td height="26">&nbsp;</td>
													</tr>
													<tr>
													  <td align="center"><a href="#"><img src="<?php echo site_url();?>/skin/cuahangmaytinh/images/banner.jpg" alt="" width="197" height="215" border="0"></a></td>
													</tr>
												  </table>
									  </td>
									  <td width="20">&nbsp;</td>
									  <td width="774">
											 
													<table width="774"  border="0" cellspacing="0" cellpadding="0">
																<tr>
																  <td height="40" class="popular"><img src="<?php echo site_url();?>/skin/cuahangmaytinh/images/spacer.gif" alt="" width="27" height="19"><span class="popular_text">Sản phẩm nổi bật</span></td>
																</tr>
																<tr>
																	  <td height="138" valign="top" class="popular_center">
																			  <table width="774" height="139"  border="0" cellpadding="0" cellspacing="0">
																				<tr>
																				  <td width="15">&nbsp;</td>
																				  <td width="743"><table width="100%"  border="0" cellspacing="0" cellpadding="0">
																					<tr>
																					  <td width="21%" height="148" align="center"><a href="#"><img src="<?php echo site_url();?>/skin/cuahangmaytinh/images/pic1.jpg" alt="" width="140" height="117" border="0"></a><br>
																						<span class="style7"><a href="#">Est sit amet</a></span></td>
																					  <td width="2%" align="center"><img src="<?php echo site_url();?>/skin/cuahangmaytinh/images/op.jpg" width="14" height="117"></td>
																					  <td width="28%" align="center"><a href="#"><img src="<?php echo site_url();?>/skin/cuahangmaytinh/images/pic2.jpg" alt="" width="194" height="117" border="0"></a><br>
																						<span class="style7"><a href="#">Est sit amet</a></span></td>
																					  <td width="2%" align="center"><img src="<?php echo site_url();?>/skin/cuahangmaytinh/images/op.jpg" width="14" height="117"></td>
																					  <td width="22%" align="center"><a href="#"><img src="<?php echo site_url();?>/skin/cuahangmaytinh/images/pic3.jpg" alt="" width="165" height="117" border="0"></a><br>
																						<span class="style7"><a href="#">Est sit amet</a></span></td>
																					  <td width="1%"><img src="<?php echo site_url();?>/skin/cuahangmaytinh/images/op.jpg" width="14" height="117"></td>
																					  <td width="24%" align="center"><a href="#"><img src="<?php echo site_url();?>/skin/cuahangmaytinh/images/pic4.jpg" alt="" width="178" height="117" border="0"></a><span class="style7"><a href="#">Est sit amet</a></span></td>
																					</tr>
																				  </table></td>
																				  <td width="16">&nbsp;</td>
																				</tr>
																			  </table>
																	  </td>
																</tr>
																<tr>
																  <td valign="top"><img src="<?php echo site_url();?>/skin/cuahangmaytinh/images/close.gif" alt="" width="774" height="9"></td>
																</tr>
													</table>
											  
											  
											  
													<table width="774"  border="0" cellspacing="0" cellpadding="0">
														  <tr>
																<td width="22">&nbsp;</td>
																<td width="729">&nbsp;</td>
																<td width="23">&nbsp;</td>
														  </tr>
														  <tr>
																<td height="479">&nbsp;</td>
																<td align="left" valign="top">
															
															<?php foreach ($product as $item):?>
																					<table width="207" height="234"  border="0" cellpadding="0" cellspacing="0" class="productleft_top">
																					  <tr>
																						<td align="left" valign="top" class="newtovar">
																							<table width="207"  border="0" cellspacing="0" cellpadding="0">
																							  <tr>
																								<td height="200" valign="top">
																									<table width="100%"  border="0" cellspacing="0" cellpadding="0">
																									  <tr>
																										<td height="53"><span class="style7"><a href="<?php echo site_url('product').'/'.$item->getId().'-'.khongdau($item->getName());?>"><?php echo $item->getNiceName();?></a></span></td>
																									  </tr>
																									  <tr>
																										<td height="147" align="center"><a href="<?php echo site_url('product').'/'.$item->getId().'-'.khongdau($item->getName());?>"><img src="<?php if (substr($item->getImageDefault(), 0, 4)=='http') { echo $item->getImageDefault(); } else { echo site_url().$item->getImageDefault();}?>" alt="<?php echo $item->getName();?>" width="175" height="144" border="0"></a></td>
																									  </tr>
																									</table>
																								</td>
																								</tr>
																							  <tr>
																								<td height="35">
																									<table width="100%"  border="0" cellspacing="0" cellpadding="0">
																									  <tr>																										
																										<td colspan="3" class="price">
																										<?php echo $item->getNicePrice();?> VNĐ
																										</td>
																									  </tr>
																									</table>
																								</td>
																							  </tr>
																							</table>
																						</td>
																					  </tr>
																					</table>

																<?php endforeach;?>

																</td>
																<td>&nbsp;</td>
														  </tr>
													</table>
										</td>
							</tr>
						  </table>
				