@charset "utf-8";
/* CSS Document */

* { 
margin : 0 ; 
padding : 0; 
} 
body { font:12px Arial, Helvetica, sans-serif; 
       background:#ffffff url(images/bg1.jpg) no-repeat center top;
	  
} 
ul, li, p, img { 
margin : 0; list-style:none;
padding : 0; 
} 
.clearfix:after { 
clear : both; 
display : block; 
content : "."; 
height : 0; 
visibility : hidden; 
} 
* html > body .clearfix { 
width : 100%; 
display : block; 
} 
* html .clearfix { 
height : 1%; 
} 

.clearfix{ clear:both}

a{
	font-size: 12px;
	font-weight: normal;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
}
/*trang chủ*/
.wapper {
	width:800px;
	margin:0 auto;
}
.search {
	width:800px;
	margin:0 auto;	
	height:105px;
}
#searchbox-wrapper {
	float:right;
	padding-top:60px;
}

#searchbox {
width : 215px;
height : 26px;
background:url(images/sprite-header.png) no-repeat 0% 0%;
position : relative;

}


#searchbox-wrapper a {
font-size : 0.91666em;
color : #959595;
float : right;
display : inline;
}
#searchbox-wrapper a:hover, #searchbox-wrapper a:focus {
color : #d88700;
outline : 0 none;
}
#q {
    background:none repeat scroll 0 0 transparent;
    border:0 none;
    padding:5px 13px 5px 17px;
    width:139px !important;
}
#q:focus {
outline : 0 none;
}
#sa {
position : absolute;
right : 0;
top : 0;
z-index : 1;
border : none;
width : 53px;
height : 26px;
background:url(images/sprite-header.png) no-repeat -585px 0%;
cursor : pointer;
}
#searchbox.focus {
background-position : 0px -40px;
}
#searchbox.focus #sa {
background-position : -585px -40px;
}

.wapper_gr {
	width:800px;
	float:left; background:#fff;
}
.menu ul li {
	float:left;
}

.menu{ width:95%; position:relative; top:-15px; margin-left:16px; z-index:1000}
.menu ul li a {
    color:#294524;
    font-size:16px;
    font-weight:normal;
    line-height:70px;
    text-align:center;
    text-transform:uppercase;
     cursor:pointer;
     float:left;
    padding:0 24px 0 14px;
}
.menu ul li a:hover, .menu ul li a.current{ background:url(images/hover.png) no-repeat right;
    color:#ffffff;}




.menu ul .current a span {
    background:url(images/menu_a_hover_rg.png) no-repeat scroll right 0 transparent;
    color:#ffffff;
	float:left;
	height:63px;
}
.thu {
	background:url(images/bg_thu.jpg) repeat-x;
	height:44px; margin-top:49px;
	float:left; padding-left:5px; width:795px;
}
.thu ul li {
	float:left;
	line-height:44px;
	
}
.thu ul li a {
	font-size: 16px;
	font-weight: normal;
	color: #ffffff;
	padding:0 36px 0 31px;
	display:block;
	background:url(images/ab.jpg) no-repeat right 2px;
	
}

.thu ul li a:hover{
	color:#000; background:url(images/bg_li.jpg) no-repeat right;
	
}
.left {
	width:497px;
	float:left;
}
.left ul li {
	
	width:215px;
	 box-shadow:0 1px 2px 2px #A5A7A5;
	 margin-left:5px;
	 overflow:hidden;
	 margin-right:28px;
	 float:left;
	 margin-bottom:32px;
}
.left ul li img{ width:215px;height:140px;}
.right {
	width:303px;
	float:right;
}
.content {
	float:left;
	padding-top:35px;
	padding-bottom:10px;
}
.left ul li h2 a {
    color:#346230;
    font-family:"Times New Roman",Times,serif;
    font-size:22px;
    font-style:italic;
    font-weight:normal;
}
.left ul li h2{
	border-bottom:2px dashed #346130;
	text-align:center;
	padding-bottom:5px;
	margin:0 10px;
	padding-top:4px;
}
.list_ds {
	
	padding-top:15px;
	padding-bottom:20px;
	
}
.list_ds p {
	padding-left:10px;
	padding-bottom:2px;
}
.list_ds p a {
	font-family: "Times New Roman", Times, serif;
	font-size: 15px;
	font-weight: normal;
	color: #346230;
}
.hotrotructuyen {
	margin-top:-17px;
	float:left;
	padding-bottom:30px;
}
.hotrotructuyen h2 {
    background:url("images/title_bg.png") no-repeat scroll 0 0 transparent;
    height:85px;
    line-height:85px;
    padding-left:64px;
    
}
.hotrotructuyen h2 a {
    color:#FFFFFF;
    font-family:"Times New Roman",Times,serif;
    font-size:14pt;
    font-weight:normal;
    text-transform:uppercase;
}
.bg_cennter {
    background:url("images/bg_hotro.png") repeat-y scroll 0 0 transparent;
     width:303px;
	 overflow:hidden;
}
.bot {
	background:url(images/bg_bottom.png) no-repeat;
	width:303px;
	height:12px;
}
.bg_gr {
    margin:0 auto;
    overflow:auto;
    padding-bottom:25px;
    width:90%;
}
.bg_gr h3 a {
	font-family: "Times New Roman", Times, serif;
	font-size: 22px;
	font-weight: bold;
	color: #ed1c24;
}
.hotro1 {
	padding-top:20px;
	float:left;
}

.online {
	width:74px;
	float:left;
	padding-right:15px;
}
.name {
	float: left;
	
}
.ten {
	font-family: "Times New Roman", Times, serif;
	font-size: 20px;
	font-style: italic;
	font-weight: bold;
	color: #346230;
}
.so{
	font-weight: normal;
	font-family: "Times New Roman", Times, serif;
	font-size: 20px;
	font-style: italic;	
	color: #346230;
}
.tintuc_capnhat, .truycap {
	float:left;
	padding-bottom:30px;
}
.tintuc_capnhat h2 {
    background:url(images/title_bg2.png) no-repeat scroll 0 0 transparent;
    height:85px;
    line-height:75px;
    padding-left:74px;    
}
.tintuc_capnhat h2 a {
    color:#FFFFFF;
    font-family:"Times New Roman",Times,serif;
    font-size:14pt;
    font-weight:normal;
    text-transform:uppercase;
}
.list_tin li {
    background:url("images/icon_list.png") no-repeat scroll 0 6px transparent;
    padding-bottom:5px;
    padding-left:22px;
}
.list_tin li a {
	font-family: "Times New Roman", Times, serif;
	font-size: 17px;
	font-weight: normal;
	color: #346230;
}

.truycap h2 {
    background:url(images/title_bg3.png) no-repeat scroll 0 0 transparent;
    height:85px;
    line-height:75px;
    padding-left:97px;    
}
.truycap h2 a {
    color:#FFFFFF;
    font-family:"Times New Roman",Times,serif;
    font-size:14pt;
    font-weight:normal;
    text-transform:uppercase;
}
.number li a {
    color:#346230;
    font-family:"Times New Roman",Times,serif;
    font-size:23px;
    font-weight:normal;
}
.number li{padding-bottom:9px;}
.number{
	
	padding-left:10px;
	padding-right:10px;}
.number li a span {
	float:right;
}
.border_bt {
	width:800px;
	float:left;
	text-align:center;
}
.border_bt p {
	padding-top: 15px;
	font-family: "Times New Roman", Times, serif;
	font-size: 15px;
	line-height:150%;
	font-weight: bold;
	color: #4c3d34;
}
.border_bt p span {
	color: #ed1c24;
}
.menu_bottom {
	width:800px;
	float:left;
	padding-bottom:8px;
}
.ontop {
    bottom:57px;
   
    position:fixed;
    right:10px;
    z-index:99999;
}
.menu_bt {
    float:right;
    padding-right:30px;
    padding-top:20px;
}
.menu_bt ul li {
	display:inline;
	background:url(images/gach.jpg) no-repeat right center;
}
.menu_bt ul li a {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: #808285;
	text-transform: uppercase;
	padding:0 8px;
}
.footer {
	background:url(images/bg_bt.jpg) no-repeat center top;
	height:57px; clear:both
}
.footer_gr{width:800px; margin:0 auto;}
.footer_gr p {
    color:#D6DF29;
    float:left;
    font-family:Arial,Helvetica,sans-serif;
    font-size:20px;
    font-weight:normal;
    line-height:57px;
}
.col-slide{
	clear:both;
    height:277px;
    width:800px;
	float:left;
}
/*lien he*/
.tintuc_bd {
	width:475px;
	float:left;
	
}
.tintuc_bd h2 {
	
	
	border-bottom:1px solid #346230;
	padding-bottom:6px;
}
.tintuc_bd h2 a {
	color: #346230;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	font-weight: normal;
}

.diachi_1 {
	padding-top:18px;
	float:left;
}
.diachi_1 p {
	color: #404040;
	line-height:160%;
}
.diachi_1 p span {
	font-weight: bold;	
}
.contact {
	
	padding-top:20px;
    width:556px;
	float:left;
	
}

.title_contact {
	font-size: 19px !important;
	color: #346230;
	padding-top: 20px;
	padding-bottom: 10px;
	font-weight: bold;
	font-family: "Times New Roman", Times, serif;	
	
}
.fieldwrapper {
	overflow:hidden;
    padding:5px 0;
}
.fieldwrapper .styled {
	width:90px;
	float:left;
	margin-right:6px;
	color:#346230;
}
.thefield .subject {
	border:1px solid #b5cbef;
    font-size:13px;
    height:20px;
    width:260px;
}
.thefield textarea {
	width:260px;
	height:125px;
	border:1px solid #b5cbef;
}
.sub {
    border:1px solid #CCCCCC;
    float:left;
    height:20px;
    margin-left:10px;
    margin-top:10px;  
    width:167px;
}
.ma{
	float:left;
}
.send {
	padding:10px 0 10px 96px;
}
.send input {
    background:none repeat scroll 0 0 #B5CBEF;
    border:1px solid #CCCCCC;
    border-radius:3px 3px 3px 3px;
    color:#000000;
    cursor:pointer;
    font-size:11px;
    font-weight:bold;
    margin-right:5px;
    padding:4px;
}
.sub_2 {
    border:1px solid #b5cbef;
    float:left;
    height:20px;
   
    width:120px;
}
.ma{ padding-left:10px;}
/*tin tuc*/
.tintuc {
	float:left;
}
.tintuc ul li {
    border-bottom:1px dotted #CCCCCC;
    box-shadow:none;
    overflow:auto;
    padding-bottom:15px;
    padding-top:15px;
    width:475px;
	margin:0 !important;
}
.anh_tin {
	
	float:left;
	margin-right:15px;
	
}

.tintuc ul li h3 a {
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #346230;
}
.tintuc ul li h3 {
	padding-bottom:5px;
}
.tintuc ul li p a {
	font-weight: normal;
	color: #404040;
	line-height: 150%;
	font-family: Tahoma, Geneva, sans-serif;
}
.xemtiep {
	float:right;
	
}
.xemtiep a {
	font-size: 11px;
	font-weight: normal;
	color: #F07D02;
	font-family: Tahoma, Geneva, sans-serif;
}
.xemtiep a:hover{text-decoration:underline;}
.tintuc ul li h3 a:hover{color:#808080;}
.phantrang_2{
	margin-top:10px;
	padding:0px;
}
.anh_tin a img{
	border:1px solid #cccccc !important;
	padding:2px !important;
	width:128px !important;
	height:100px !important;
	
}
.phantrang {
    float:right;
   	padding-top:10px;
    padding-bottom:13px;
    
}
.left .tintuc_bd div .phantrang li, .left div .phantrang li {
	display:inline;
	margin:0px !important;
	box-shadow:none !important;
	float:right !important;
	float:none !important;
}
.left div .phantrang.phantrang2{ padding-top:0px !important; padding-right:28px;}
.phantrang li a {
    background:none repeat scroll 0 0 #CCCCCC;
    border:1px solid #CCCCCC;
    color:#000000;
    font-weight:normal;
    padding:1px 6px;
}
.phantrang li a:hover, .phantrang li a.active{
	color:#000000;
	background-color:#ffffff;	
}
/*detail tin tức*/
.detail_tintuc {
	padding-top:12px;
	overflow:hidden;
	
}
.detail_tintuc h3 {
	font-size: 16px;
	font-weight: bold;
	color: #346230;
	padding-bottom: 15px;
	padding-top: 10px;
	
}
.detail_tintuc p {
	font-weight: normal;
	color: #404040;
	padding-bottom:5px;
	line-height:170%;
	
}
.detail_anh {
    padding-bottom:10px;
    padding-top:15px;
    text-align:center;
}
.detail_anh img {
    border:1px solid #CCCCCC;
    height:216px;
    padding:4px;
    width:386px;
}
.tieude {
	font-size: 12px;
	font-style: italic;
	color: #404040;
	font-family: Tahoma, Geneva, sans-serif;
	padding-top:4px;
}
.chiase {
	margin-top:30px;
}
.chiase ul li {
	float:left;
	padding-right:20px;
	height:30px;
	line-height:30px;
}
.tinkhac {
	margin-top:18px;
}
.tinkhac h3 {
	font-size: 15px;
	font-weight: bold;
	color: #F09F4F;
	border-bottom: 1px dotted #cccccc;
	padding-bottom: 3px;
	
}
.tinkhac ul {
	padding-top:10px;
}
.tinkhac ul li {
    background:url("images/icon_list2.png") no-repeat scroll left 2px transparent;
    box-shadow:none;
    float:none !important;
    margin:0;
    padding-bottom:7px;
    padding-left:20px;
	width:475px;
}
.tinkhac ul li a {
	font-weight: bold;
	color: #f88e26;
}
.tinkhac ul li a span {
	font-weight: normal;
}
.tinkhac ul li a:hover{color:#F09F4F;}
.slip {
    float:left;
    height:32px;
    width:497px;
}

.thucdon ul li {
	width:480px;
}
.detail {
	margin-top:0px;
	float:right;
	width:250px;
}
.thucdon h2 {
	color:#346230;
    border-bottom: 1px solid #346230;
    padding-bottom: 6px;
}
.menuitem {
	margin-top:10px;
}