<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="<?php echo $this->config->site_url('css');?>/admin.css" />
<link rel="stylesheet" type="text/css" href="<?php echo $this->config->site_url('css');?>/menu.css" />
<script type="text/javascript" src="<?php echo $this->config->site_url('js');?>/jquery.min.js"></script>
<script type="text/javascript">
$(document).ready(function() { 
	//alert('hi');
	$("#nav li").hover(function(){ 
			$(this).addClass('over');
	        $(this).find('ul:first').css({visibility: "visible",display: "none"}).show(400); 
	        },function(){ 
	        $(this).find('ul:first').css({visibility: "hidden"}); 
	        $(this).removeClass('over');
	        }); 
	});  
</script>
</head>
<body>
<div class="wrapper"><div class="header">
				<div class="nav-bar">
				<ul id="nav">
					<li class="parent">
						<a href="<?php echo $this->config->site_url('admin');?>">
						<span>Trang chủ</span>
						</a>
					</li>
					<li class="parent">
						<a href="<?php echo $this->config->site_url('admin/slider');?>"><span>Quản lý Slider</span></a>					
					</li>
					<li class="parent">
					<a href="<?php echo $this->config->site_url('admin/sanpham');?>"><span>Sản phẩm</span></a>
					</li>
					<li class="parent">
					<a href="<?php echo $this->config->site_url('sanpham/dangsanpham');?>"><span>Đăng sản phẩm</span></a>
					</li>					
					<li class="parent">
						<a href="<?php echo $this->config->site_url('admin/addcategory');?>"><span>Thêm danh mục sp</span></a>
					</li>
					<li class="parent">
					<a href="<?php echo site_url('admin/tintuc');?>"><span>Tin tức</span></a>
					</li>	
					<li class="parent">
					<a href="<?php echo site_url('admin/menu');?>"><span>Thực đơn</span></a>
					</li>													
					<li class="parent">
					<a href="<?php echo site_url('admin/content');?>"><span>Cms</span></a>
					</li>								
					<li class="parent">
					<a href="<?php echo site_url('admin/support');?>"><span>Hỗ trợ trực tuyến</span></a>
					</li>					
					<li class="parent">
					<a href="#"><span>Hệ thống</span></a>
						<ul>
							<li class="level1">
								<a href="<?php echo $this->config->site_url('admin/siteinfo');?>"><span>Cấu hình trang web</span></a>
							</li>							
							<li class="last level1">
								<a href="<?php echo $this->config->site_url('admin/myaccount');?>"><span>Tài khoản</span></a>
							</li>					
						</ul>					
					</li>				
					<li class="parent">
					<a href="<?php echo site_url('logout');?>"><span>Logout</span></a>
					</li>
				</ul>
				</div>
				<div style="clear:both;"></div>
				<hr></hr>
				</div>
				<p></p>
</body>
</html>		