<script type="text/javascript" src="<?php echo site_url()?>tinymce/jscripts/tiny_mce/tiny_mce.js"></script>
<script type="text/javascript" src="<?php echo site_url()?>tinymce/jscripts/tiny_mce/tinyMce.conf.js"></script>

<div class="content-header">
    <h3 class="icon-head head-system-account">Hệ thống - Cấu hình trang web</h3> 
    <div class="form-buttons">
	<button style="" onclick="editForm.submit();" class="scalable save" type="button" id="id_1"><span>Lưu cấu hình</span></button>    
    </div>
</div>
<div class="entry-edit"><form id="form1" name="editForm" method="post" action="">
<div class="entry-edit-head">
<h4 class="icon-head head-edit-form fieldset-legend">Cấu hình trang web</h4>
</div>
<div class="form-buttons"></div>
<div class="fieldset " id="base_fieldset">
<div class="hor-scroll">
<div class="clear"></div>
<table width="100%" border="0" class="form-list">
  <tr>
    <td>Địa chỉ:</td>
    <td><textarea name="footer" cols="80" rows="5"><?php echo $footer->footer_address;?></textarea></td>
  </tr>
  <tr>
    <td>Thông báo:</td>
    <td><textarea name="msg" cols="80" rows="5"><?php echo $footer->footer_msg;?></textarea></td>
  </tr>
</table>
</div>
</div>
</div>
</form> 