	</td>
			  </tr>
			  <tr>
			  	<td>
					<img src="<?php echo site_url();?>/skin/gianhangmau/images/line2.jpg" alt="" width="940" height="1" class="line2_f" />
				</td>
			  </tr>
			  <tr>
				<td>
					    <ul id="menu_f">                   
								<li><a href="http://muaban12.net">Muaban12.net </a>|</li>						
								<li class="active"><a href="#">Trang chủ</a>|</li>
								<li><a href="#">Giới thiệu</a>|</li>
								<li><a href="#">Chính sách</a>|</li>
								<li><a href="#">Bản đồ</a>|</li>
                                <li><a href="#">Hỏi đáp</a>|</li>
								<li><a href="#">Liên hệ</a></li>
				  		</ul>																																																							
				</td>
			  </tr>
			</table>
	
		</td>
	  </tr>
	  <tr>
		<td>
			<img src="<?php echo site_url();?>/skin/gianhangmau/images/line3.jpg" alt="" width="1000" height="3" />
		</td>
	  </tr>
      <tr>
      <td>
      <div class="footer">
		  <div>
			<div>
			  <p><strong><?php echo $storeInfo->getName();?></strong></p>
			  <div><strong><?php echo $storeInfo->getAddress();?></strong></div>
			  <div><strong>ĐT: <?php echo $storeInfo->getPhone();?><br />
				Fax: <?php echo $storeInfo->getFax();?></strong></div>
			  <div><strong>Yahoo: <?php echo $storeInfo->getYm();?></strong></div>
			  <div><strong><?php echo $storeInfo->getWebsite();?></strong></div>
			</div>
		  </div>
		</div>
      </td>
      </tr>
	  <tr>
		<td>&nbsp;</td>
	  </tr>
	</table>
</body>
</html>
