<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Mobile Store</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link type="text/css" rel="stylesheet" href="<?php echo site_url();?>/skin/gianhangmau/style.css" />
</head>

<body>
	<table class="table1" cellspacing="0" cellpadding="0">
	  <tr>
		<td>
			<img src="<?php echo site_url();?>/skin/gianhangmau/images/line1.jpg" alt="" width="1000" height="8" />
		</td>
	  </tr>
	  <tr>
		<td>
			<table class="table2" cellspacing="0" cellpadding="0">
			  <tr>
				<td>
					<table cellspacing="0" cellpadding="0">
					  <tr>
						<td>
							<a href="#"><img src="<?php echo site_url();?>/skin/gianhangmau/images/Mobile-store.jpg" alt="" width="272" height="68" class="img" /></a>
						</td>
						<td class="header">
		
						</td>
					  </tr>
					</table>

				</td>
			  </tr>
			  <tr>
			  	<td>
					<img src="<?php echo site_url();?>/skin/gianhangmau/images/line2.jpg" alt="" width="940" height="1" class="line2_h" />
				</td>
			  </tr>
			  <tr>
				<td class="menu">                                                                                                                                                                                                                                                                                                                                                                                                                                       
					
					<ul id="menu">
						<li><a href="http://muaban12.net">Muaban12.net</a></li>
						<li class="active"><a href="<?php echo site_url('shop').'/'.$account;?>">Trang chủ</a></li>
						<li><a href="<?php echo site_url('shop/cms').'/'.$account.'/gioithieu';?>">Giới thiệu</a></li>
						<li><a href="<?php echo site_url('shop/cms').'/'.$account.'/chinhsach';?>">Chính sách</a></li>
                        <li><a href="<?php echo site_url('shop').'/map/'.$account;?>">Bản đồ</a></li>
						<li><a href="#">Hỏi đáp</a></li>
						<li><a href="<?php echo site_url('shop/cms').'/'.$account.'/lienhe';?>">Liên hệ</a></li>
			  	  </ul>
							<div id="search">
								<form action="#"> 
									<input type="text"  class="search_input" />
									<input type="submit" value="" class="search" />
								</form>
							</div>
  					
				</td>
			  </tr>
			  <tr>
			  	<td>
					<img src="<?php echo site_url();?>/skin/gianhangmau/images/line2.jpg" alt="" width="940" height="1" class="line2_h" />
				</td>
			  </tr>
			  <tr>
				<td>