<?php require('seotiengviet.php'); ?>
					<table cellspacing="0" cellpadding="0">
					  <tr>
						<td>
							<img src="<?php echo site_url();?>/skin/gianhangmau/images/line2l.jpg" alt="" width="283" height="1" class="line2l" />
							<a class="text3"><strong>THÔNG TIN LIÊN HỆ</strong></a>
							<img src="<?php echo site_url();?>/skin/gianhangmau/images/line2l.jpg" alt="" width="283" height="1" class="line2l" />
				            <div><?php echo $storeInfo->getName();?></div>
				            <div><?php echo $storeInfo->getAddress();?></div>
				            <div>
				              <div><strong><img src="http://vatgia.com/images/icon_mobile.gif" align="absmiddle" /> :</strong> <?php echo $storeInfo->getMobile();?></div>
				              <div><strong><img src="http://vatgia.com/images/icon_phone.gif" align="absmiddle" /> :</strong> <?php echo $storeInfo->getPhone();?></div>
				              <div><strong><span lang="vi" xml:lang="vi">Fax</span> :</strong> <?php echo $storeInfo->getFax();?></div>
			              </div>
				            <div><strong><span lang="vi" xml:lang="vi">Hỗ trợ trực tuyến</span> :</strong></div>
				            <div>
				              <div><a title="<?php echo $storeInfo->getMobile();?>" href="ymsgr:sendim?<?php echo $storeInfo->getYm();?>&amp;m=Xin%20chao,%20toi%20muon%20hoi%20ve%20san%20pham%20%20%21" rel="nofollow"><img src="http://opi.yahoo.com/online?u=<?php echo $storeInfo->getYm();?>&amp;m=g&amp;t=5&amp;l=us" alt="Y!M" align="absmiddle" border="0" /> <?php echo $storeInfo->getMobile();?></a></div>
			              </div>
						</td>
						<td>
							<a href="#"><img src="<?php echo site_url();?>/skin/gianhangmau/images/img.jpg" alt="" width="651" height="329" class="img2" /></a>
						</td>
					  </tr>
					  <tr style="vertical-align:top">
						<td>
								<ul id="links">
								<?php foreach ($cat_list as $item):?>
								<li><a href="/shop/catalog/<?php echo $account.'/'.$item->getId();?>"><?php echo $item->getName();?></a></li>
								<?php endforeach;?>
								<!--<li class="bg"><a href="#">SamSung</a></li>
								<li><a href="#">Sony Ericsson</a></li>
								<li class="bg"><a href="#">HTC</a></li>
								<li><a href="#">Iphone</a></li>
								<li class="bg"><a href="#">Black Berry</a></li>-->
						  	</ul>
							</td>
						<td>
							<img src="<?php echo site_url();?>/skin/gianhangmau/images/line2r.jpg" alt="" width="651" height="1" class="line2r" />
							<a class="text3">&nbsp;&nbsp;<strong>Sản phẩm mới</strong></a>
							<img src="<?php echo site_url();?>/skin/gianhangmau/images/line2r.jpg" alt="" width="651" height="1" class="line2r" />
							<div id="items">
							<?php foreach ($product as $item):?>
								<div class="item border">
									<h5><?php echo $item->getName();?></h5>
									<div><a href="<?php echo site_url('product').'/'.$item->getId().'-'.khongdau($item->getName());?>"><img src="<?php echo site_url().$item->getImageDefault();?>" alt="" width="93" height="125" /></a></div>
									<p><a href="<?php echo site_url('product').'/'.$item->getId().'-'.khongdau($item->getName());?>" class="details">Xem chi tiết</a></p>
								</div>
							<?php endforeach;?>
							</div>
						</td>
					  </tr>
					</table>
			